
form.add-pet {
  background: lightgreen;
  padding: 10px;

  label {
    display: block;
  }

  button {
    margin-top: 10px;
  }

  p {
    margin-top: 10px;
    height: 30px;
    color: red;
  }
}